<div class="login">
  <div class="logos"><%= image_tag "logo.png", class: "logo" %>
    <h2>Iqbal Telecom</h2>
  </div>
  <div class="login-box">
    <h2>SIGN UP</h2>
    <div class="login-fields">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "fieldl" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "fieldt" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "fieldl" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "fieldt" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "fieldl" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "fieldt" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up",class: "login-btn" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="links"><%= render "devise/shared/links" %></div>
</div>