<div class="buy-index">
  <div class="buy-home-links">
    <%=link_to 'IQBAL TELECOM', root_path, class: "buy-home-link" %>
    <%= search_form_for @q, url: :buyms do |form| %>
      <div class="form-group buy-search">
        <%#= form.label :search_by_brand %>
        <%= form.text_field :brand_or_title_cont, class: "buy-search-field" %>
          <%= form.submit "search" , class: "buy-search-submit" %>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= link_to "Go To Cart", carts_show_path, class: "gocart-btn" %>
    (<%=  @user.order_items.count %>)
  <% end %>
  <div class="row row-cols-1 row-cols-md-3 g-4 buy-mobile">
    <% if !@buyms.present? %>
       <h1>OOPS! No Result Found</h1>
    <% end %>
  	<% @buyms.each do |buym| %>
  	  <div class="col buy-col">
  	    <div class="card buy-card">
  		    <div class="card-img">
            <%#= image_tag "home-mobile2", class: "home-mobile2-img" %>
          </div>
          <div class="card-cont">
      	  	<div class="card-titles">
              <%= link_to buym.title, buym_path(buym), class: "card-title" %> 
      	  	  <%= buym.brand %>,
      	  	  <%= buym.ram %>,
      	  	  <%= buym.storage %>
            </div>
            <div>
      	  	  <h1 class="card-price">Rs. <%= buym.price %>.00</h1>
            </div>
            <div class="card-btns">
              <% if buym.user == current_user %>
                <%= link_to "Edit", edit_buym_path(buym), class: "card-edit-btn" %>
                <%= link_to "Delete", buym_path(buym), data: {turbo_method: :delete}, class: "card-delete-btn" %>
              <% elsif !user_signed_in? %>
                  <%= link_to "Add to cart", new_user_session_path, class: "card-cart-btn" %>
                  <%= phone_to "9012626767", "Buy now", class: "card-buy-btn" %>
              <% else %>
                  <%= form_for(@order_item, remote: true) do |f| %>
                    <%= f.hidden_field :buym_id, value: buym.id %>
                    <%= f.hidden_field :user_id, value: @user.id if user_signed_in? %>
                    <%= f.submit "Add to cart", class: 'card-cart-btn' %>
                  <% end %>
                  <%= phone_to "9012626767", "Buy now", class: "card-buy-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
	  <% end %>
  </div>
</div>
