<div class="buy-index">
  <div class="buy-home-links">
    <%=link_to 'IQBAL TELECOM', root_path, class: "buy-home-link" %>
    <%= search_form_for @q, url: :buyms do |form| %>
    <div class="form-group buy-search">
      <%#= form.label :search_by_brand %>
      <%= form.text_field :brand_or_title_cont, class: "buy-search-field" %>
        <%= form.submit "search" , class: "buy-search-submit" %>
    </div>
    <% end %>

  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4 buy-mobile">
    <% if !@buyms.present? %>
       <h1>OOPS! No Result Found</h1>
    <% end %>
  	<% @buyms.each do |buy| %>
  	  <div class="col buy-col">
  	    <div class="card buy-card">
  		    <div class="card-img">
            <%#= image_tag "home-mobile2", class: "home-mobile2-img" %>
          </div>
          <div class="card-cont">
      	  	<div class="card-titles">
              <%= link_to buy.title, buym_path(buy), class: "card-title" %> 
      	  	  <%= buy.brand %>,
      	  	  <%= buy.ram %>,
      	  	  <%= buy.storage %>
            </div>
            <div>
      	  	  <h1 class="card-price">Rs. <%= buy.price %>.00</h1>
            </div>
            <div class="card-btns">
              <%= link_to "Add To Cart", carts_show_path(buy), class: "card-cart-btn" %>
        	    <%= link_to "Buy now", buym_path(buy), class: "card-buy-btn" %>
            </div>
          </div>
        </div>
      </div>
	  <% end %>
  </div>
</div>
