<div class="cart-backs">
  <%= link_to "Back", buyms_path, class: "cart-back"  %>
</div>
<% if @order_items.present? %>
	<div class="carts-show">
		<% @order_items.each do |item| %>				
		<div class="cart">
			<div class="cart-img"></div>
			<div class="cart-cont">
				<h2><%= item.buym.title %></h2>
				<h3>Price: <%= item.buym.price %></h3>
				<h3>Deliver by <%= item.buym.delivery  %></h3>
				<div class="cart-cont-btns">
					<h3>Save for later</h3>
					<h3>Buy now</h3>
					<h3><%= link_to "Remove", item, data: {turbo_method: :delete}, class: "cart-remove-btn" %></h3>
				</div>
			</div>
		</div>
		<% end %>	
		<div class="cart-btns">
			<% t = 0 %>
			<h3>Total: <% @order_items.each do |o| %>
						  <% t = t + o.unit_price %>
				       <% end %>
				       <%= t %>
			</h3>
			<h3>Place order</h3>
		</div>
	</div>
<% else %>
	<div class="carts-show">
		<h1>There is nothing in your cart.</h1>
    </div>
<% end %>